{% extends 'rango/base.html'%}

{% block title_block %}
    Change Password
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Rango says...</h1>
        <div>
            <h2 class="h2">
            {% if user.is_authenticated %}
                howdy {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}
            </h2>
            <strong>{{ boldmessage }}</strong>
        </div>
    </div>
</div>

    <h1>Change Password</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Change Password"/>
    </form>
{% endblock %}